<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.materialsmanager.materialsmanager.repository.MainRepository">
    
    <select id="getCategoryList" resultType="String">
        SELECT DISTINCT
            STUFF_CATEGORY
        FROM STUFF
    </select>

    <select id="getStuffList" resultType="StuffDto">
        SELECT 
            STUFF_CATEGORY as `stuffCategory`,
            STUFF_NAME as `stuffName`,
            STUFF_COUNT as `stuffCount`,
            RENTAL_COUNT as `rentalCount`,
            RETURN_COUNT as `returnCount`
        FROM STUFF
        WHERE STUFF_CATEGORY IN
            <foreach item="categoryList" collection="list" open="(" separator="," close=")">
                #{categoryList}
            </foreach>
    </select>

    <insert id="insertStuff" parameterType="StuffDto">
        INSERT INTO STUFF('STUFF_CATEGORY', 'STUFF_NAME', 'STUFF_COUNT', 'RENTAL_COUNT', 'RETURN_COUNT')
        VALUES(#{stuffCategory}, #{stuffName}, #{stuffCount}, #{rentalCount}, #{returnCount})
    </insert>
</mapper>